@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('objetos/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

header {
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-weight: 300;
    font-size: 50px;
    padding-top: 30px;
    color: white;
}

header h4 {
    font-family: var(--fonte-padrao);
    font-weight: 100;
    padding: 25px;
    color: white;
    font-size: 20px;
    width: 600px;
    align-self: center;
}

header nav {
    padding-bottom: 5px;
}

header nav a {
    margin: 2px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px;

}

header nav a:hover {
    background-color: var(--cor0);
    color: black;
    height: 15px;
    width: 15px;
    margin: 2px;
    border-radius: 3px;
    padding: 3px;
}

main {
    background-color:var(--cor1);
}

.corpo {
    background-color: rgb(248, 246, 246);
    box-shadow: 2px 2px 10px grey;
    width: 800px;
    height: 2200px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.corpo h1 {
    font-family: var(--fonte-android);
    font-weight: 400;
    font-size: 28px;
    padding: 20px;
}

.corpo .texto {
    margin: 0px 20px;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
}

.corpo .titulo {
    font-family: var(--fonte-android);
    font-size: 20px;
    font-weight: 300;
    background-image: linear-gradient(to right, var(--cor1), rgb(255, 255, 255));
    color: var(--cor40);
    padding: 1px 10px;
    margin: 20px;
}

#perfil {
    padding: 20px;
    width: 760px;
}

#droid {
    width: 300px;
    padding: 10px;
}

.video {
    margin: auto;
    padding: 10px 120px;
    background-color: var(--cor0);
}

#table {
    background-color: var(--cor0);
    width: 760px;
    margin: 20px;
    border-radius: 10px;
}

#table h3 {
    background-color: var(--cor3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

#table .texto {
    padding: 10px 0px;
    text-align: justify;
}

#table #lista {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

 #table span {
    width: 50px;
}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#creditos {
    color: rgb(255, 255, 255);
}

